<EditForm Model="@ShoppingCartItem" OnValidSubmit="@AddToShoppingCart" class="form-horizontal mt-4">
  <div class="d-flex justify-content-between mt-2">
    <div class="form-group">
      <label for="amount">Quantity: </label>
      <InputSelect id="amount" @bind-Value="@Amount">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </InputSelect>
      <input asp-for="@Pie.PieId" type="hidden" />
      <input asp-for="@Pie.Price" type="hidden" />
    </div>
    <button type="submit" class="btn btn-secondary">Add to cart</button>
  </div>
</EditForm>
